[alias]
	diffs = diff --staged
	gdiff = difftool --gui
	gdiffs = difftool --gui --staged
	oclean = clean -d -ff -x
	orclean = submodule foreach --recursive 'git clean -d -ff -x'
	oreset = reset --hard
	orreset = submodule foreach --recursive 'git reset --hard'
[core]
	editor = /usr/bin/vim
[diff]
	guitool = meld
[difftool]
	prompt = false
[user]
	email = markuspg@users.noreply.github.com
	name = markuspg
